/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-my-affiliate-plugin-my-affiliate-block {
	padding: 12px;
	color: #000;
	background-color: #fff;
	border-radius: 0px;
	//&.has-border {
	//	border: 1px solid #000;
	//}
	&.is-style-default {
		border: 0;
	}
	&.is-style-outline {
		border: 1px solid currentColor;
	}
	&.is-style-rounded {
		border: 1px solid currentColor;
		border-radius: 6px;
	}
}
